body{
    position: relative;
}

#sectionHome {
    background-image: url("res/LongRoad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.bg-vortex h1, div.bg-vortex p {
    color: #c8cbcf;
}

div.about-me {

}

div.computer-languages{
    background-color: aquamarine;
}

div.jumbotron {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 0px;
    height: 100vh;
}

button.btn-lg {

}

div.jumbotron.begin {

}

div.cv-container{
    height: 50vh;
}

#cv-snapshot {
    height: auto;
    width: 100%;
}

#countVisits {
    position: relative;
}

#animate-test{
    position: relative;
}

#portfolio-title{
    text-align: center;
}

#portfolio-title{
    background-color: lightsalmon;
}

div.card.shadow{
    width: 100%;
    height: 400px;
    background-color: transparent;
    border: none;
}

img.card-img-top{
    height: 100%;

}

.card-img-overlay{
    width: 0;
    height: 100%;
    padding: 0;
    background-color: dodgerblue;
    z-index: 20;
    position: absolute;
    transition-duration: 1s;
    overflow: hidden;
    display: inline-block;
}

div.card-img-overlay a {
    position: relative;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: white;
}






