body{
    position: relative;
}
.bg-vortex {
    background: url("res/matrix_code_gif.gif");
}

div.bg-vortex h1, div.bg-vortex p {
    color: #c8cbcf;
}

div.about-me {
    background-color: aquamarine;
}

div.jumbotron {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 0px;
    height: 100vh;
}

button.btn-lg {

}

div.jumbotron.begin {

}

div.cv-container{
    height: 50vh;
}

#cv-snapshot {
    height: auto;
    width: 100%;
}

#countVisits {
    position: relative;
}

#animate-test{
    position: relative;
}

#portfolio-title{
    text-align: center;
}

#portfolio-title{
    background-color: lightsalmon;
}

